<p-panel header="Profil">
    <div class="row mb-3">
        <div class="col-sm-3"><strong>Username</strong></div>
        <div *ngIf="!clickedEdit; else usernameBearbeiten" class="col-sm-7">{{ selectedMitarbeiter?.username }}</div>
        <ng-template #usernameBearbeiten>
            <div class="col-sm-7" *ngIf="selectedMitarbeiter">
                <input type="text" [(ngModel)]="selectedMitarbeiter.username">
            </div>
        </ng-template>
        <div class="col-sm-2 text-right">
            <button pButton type="button" icon="pi pi-pencil" style="font-size: 0.1rem" (click)="clickedEdit = !clickedEdit"></button>
            <button pButton type="button" icon="pi pi-times" style="font-size: 0.1rem; margin-left: 1rem;" (click)="closeSelectedMitarbeiter()" class="p-button-danger"></button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3"><strong>Vorname</strong></div>
        <div *ngIf="!clickedEdit; else vornameBearbeiten" class="col-sm-9">{{ selectedMitarbeiter?.forename }}</div>
        <ng-template #vornameBearbeiten>
            <div class="col-sm-9" *ngIf="selectedMitarbeiter">
                <input type="text" [(ngModel)]="selectedMitarbeiter.forename">
            </div>
        </ng-template>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3"><strong>Nachname</strong></div>
        <div *ngIf="!clickedEdit; else nachnameBearbeiten" class="col-sm-9">{{ selectedMitarbeiter?.surname }}</div>
        <ng-template #nachnameBearbeiten>
            <div class="col-sm-9" *ngIf="selectedMitarbeiter">
                <input type="text" [(ngModel)]="selectedMitarbeiter.surname">
            </div>
        </ng-template>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3"><strong>Rolle</strong></div>
        <div *ngIf="!clickedEdit; else rolleBearbeiten" class="col-sm-9">{{ selectedMitarbeiter?.role }}</div>
        <ng-template #rolleBearbeiten>
            <div class="col-sm-9" *ngIf="selectedMitarbeiter">
                <p-dropdown [options]="roles" [(ngModel)]="selectedMitarbeiter.role"></p-dropdown>
            </div>
        </ng-template>
    </div>
    <div *ngIf="clickedEdit">
        <button pButton type="button" icon="pi pi-check" class=" p-button-success p-button-sm" label="Ändern" (click)="changeMitarbeiter()"></button>
        <button pButton type="button" icon="pi pi-times" class="p-button-secondary p-button-sm" label="Abbrechen" (click)="clickedEdit = false" style="margin-left: 1rem"></button>
    </div>
</p-panel>