<div class="reportRunterladen">
    <div class="container">
        <form (ngSubmit)="reportRunterladen()" [formGroup]="form">
            <p-panel header="Report runterladen">
                <div style="margin: 1rem;">
                    <div class="row">
                        <div class="col">
                            <label for="zeitraumVon">Zeitraum von: </label><br>
                            <p-calendar inputId="zeitraumVon" dateFormat="yy-mm-dd" formControlName="zeitraumVon"></p-calendar>
                        </div>
                        
                        <div class="col">
                            <label for="zeitraumBis">Zeitraum bis: </label><br>
                            <p-calendar inputId="zeitraumBis" dateFormat="yy-mm-dd" formControlName="zeitraumBis"></p-calendar>
                        </div>

                        <div class="col">
                            <button pButton type="submit" label="Runterladen" [disabled]="!form.valid" class="p-button-success p-button-sm"></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div [hidden]="form.controls['zeitraumVon'].valid || !form.controls['zeitraumVon'].dirty" class="alert alert-danger">
                                Zeitraum von is required
                            </div>
                        </div>
                        <div class="col">
                            <div [hidden]="form.controls['zeitraumBis'].valid || !form.controls['zeitraumBis'].dirty" class="alert alert-danger">
                                Zeitraum bis is required
                            </div>
                        </div>
                    </div>       
                </div>
            </p-panel>
        </form>
    </div>
</div>