<h5 class="title">Meiner Ausleihungen</h5>
<h6 class="title">Hier können Sie Ihre Arbeitszeiten eintragen.</h6>
<div class="myZeiterfassung">
    <div class="card">
        <p-table #dt [value]="ausleihungen" selectionMode="single" [(selection)]="selectedAusleihung" dataKey="id" editMode="row" [tableStyle]="{'min-width': '75rem'}"
        [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
        [globalFilterFields]="['auftraggeberFirma.name', 'tag', 'schicht', 'zeitStatus']">>
            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    <button *ngIf="selectedAusleihung" style="margin-right: 1rem;" type="button" pButton pRipple icon="pi pi-bookmark" (click)="feiertagMarkieren()" class="mr-2 p-button-success" pTooltip="Feiertag" tooltipPosition="bottom"></button> 
                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Suchen" (input)="dt.filterGlobal($any($event.target).value, 'contains')" style="width:15rem">
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10%">Firma</th>
                    <th style="width:10%">Tag</th>
                    <th style="width:15%">Startzeit</th>
                    <th style="width:15%">Endzeit</th>
                    <th style="width:15%">Schicht</th>
                    <th style="width:15%">Zeitstatus</th>
                    <th style="width:15%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ausleihung let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="ausleihung" [pSelectableRow]="ausleihung">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{ausleihung.auftraggeberFirma.name}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ausleihung.auftraggeberFirma.name}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{ausleihung.tag}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ausleihung.tag}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-calendar [(ngModel)]="ausleihung.startZeit" [timeOnly]="true"></p-calendar>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <span *ngIf="ausleihung.startZeit">
                                    {{ausleihung.startZeit.toLocaleTimeString()}}
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-calendar [(ngModel)]="ausleihung.endZeit" [timeOnly]="true"></p-calendar>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <span *ngIf="ausleihung.endZeit">
                                    {{ausleihung.endZeit.toLocaleTimeString()}}
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{ausleihung.schicht}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ausleihung.schicht}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{ausleihung.zeitStatus}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ausleihung.zeitStatus}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <div class="flex align-items-center justify-content-center gap-2"
                        *ngIf="ausleihung.zeitStatus === 'INBEARBEITUNG' || ausleihung.zeitStatus === 'ABGELEHNT' || ausleihung.zeitStatus === null">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(ausleihung)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(ausleihung)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(ausleihung, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>