.myZeiterfassung {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

:host ::ng-deep .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.title {
    margin-top: 2rem;
    text-align: center;
}