<h5 class="title">Alle Mitarbeiter</h5>
<h6 class="title">Klicken Sie auf den Mitarbeiter, um Änderungen durchzuführen.</h6>
<div class="mitarbeiterCard">
    <div class="card">
        <p-table #dt [columns]="cols" [value]="allMitarbeiter" selectionMode="single" [(selection)]="selectedMitarbeiter" 
        (onRowSelect)="scroll()" dataKey="id" [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]">
            <ng-template pTemplate="caption">
            <div style="text-align: right">        
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Suchen" (input)="dt.filterGlobal($any($event.target).value, 'contains')" style="width: 15rem">
            </div>
            </ng-template>    
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-rowData let-columns="columns">
                <tr [pSelectableRow]="user">
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div id="changeMitarbeiter" class="container" *ngIf="selectedMitarbeiter">
    <app-change-mitarbeiter [(selectedMitarbeiter)]="selectedMitarbeiter"></app-change-mitarbeiter>
</div>